.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 0.1rem;
  right: 0.11rem;
  width: 0.1rem;
  height: 0.1rem;
  border-color: rgba(0,0,0,0) #bdc5cf #bdc5cf rgba(0,0,0,0);
  border-style: solid;
  border-width: 1px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.select-selected .select-arrow-active:after {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 0.14rem;
}

.select-items div,
.select-selected {
  color: #373c43;
  padding: 0.09rem 0.15rem;
  border: 1px solid #e4e9ee;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.16rem;
  font-weight: 400;
  line-height: 0.21rem;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 1.56rem;
  overflow-y: scroll;
}

.select-hide {
  display: none;
}

.same-as-selected,
.select-items div:hover {
  background-color: rgba(0,0,0,.1);
}

.select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@charset "UTF-8";

.nav-menu {
  width: 3.6rem;
}

.nav-menu .nav-menu__list {
  position: relative;
  margin: 0;
}

.nav-menu .nav-menu__item {
  background-color: #1f2229;
  list-style-type: none;
  padding: 0.29rem;
}

.nav-menu .nav-menu__item .nav-menu__item_active,
.nav-menu .nav-menu__item:active,
.nav-menu .nav-menu__item:focus,
.nav-menu .nav-menu__item:hover {
  background-color: #2a2d37;
}

.nav-menu .nav-menu__item .nav-menu__item_active a,
.nav-menu .nav-menu__item:active a,
.nav-menu .nav-menu__item:focus a,
.nav-menu .nav-menu__item:hover a {
  color: #808592;
}

.nav-menu .nav-menu__item a {
  font-family: Open Sans,sans-serif;
  color: #fff;
  display: block;
  font-size: 0.18rem;
  line-height: 0.24rem;
  text-align: justify;
  text-decoration: none;
  text-shadow: 0 0.01rem 0 rgba(0,0,0,.15);
}

.nav-menu .nav-menu__item a:active,
.nav-menu .nav-menu__item a:focus,
.nav-menu .nav-menu__item a:hover {
  color: #808592;
}

.nav-menu .nav-menu__item_active a:after,
.nav-menu .nav-menu__item a:focus:after {
  position: absolute;
  color: #808592;
  content: "(активная)";
  margin-left: 0.05rem;
}

.nav-menu .nav-menu__item:last-of-type,
.nav-menu .nav-menu__item:nth-of-type(4) {
  background-color: #191c24;
}

.nav-menu .nav-menu__item:last-of-type a {
  color: #808592;
}
.footer {
  background-color: #373c43;
  padding: 0.1rem 0.45rem 0.21rem 0.29rem;
}

.footer .footer__line {
  font-family: Arial;
  color: #89909d;
  font-size: 0.12rem;
  font-weight: 400;
  line-height: 0.18rem;
}

.footer .footer__line:not(:first-of-type) {
  margin: -0.02rem 0 0.12rem;
}
.info {
  font-family: Arial;
  color: #8494ab;
  font-size: 0.16rem;
  font-weight: 400;
  line-height: 0.21rem;
}

.info .info__header {
  font-weight: 400;
  margin: 0 0 0.19rem;
}

.info .info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.06rem;
}

.info .info__name {
  display: block;
  width: 27.5%;
}

.info .info__value {
  display: block;
  color: #373c43;
  width: 70%;
}
.fieldset {
  border: none;
}

.legend {
  font-family: Open Sans,sans-serif;
  color: #383d43;
  font-size: 0.2198rem;
  line-height: 0.22rem;
}

.label {
  display: block;
  font-family: Arial;
  color: #8494ab;
}

.input,
.label {
  font-size: 0.16rem;
  font-weight: 400;
  line-height: 0.21rem;
}

.input {
  border: 1px solid #e4e9ee;
  background-color: #fff;
  padding: 0.11rem 0.11rem 0.1rem;
  color: #000;
}

.input::-webkit-input-placeholder {
  font-family: Arial;
  color: #bec6cf;
}

.input:-ms-input-placeholder {
  font-family: Arial;
  color: #bec6cf;
}

.input::-ms-input-placeholder {
  font-family: Arial;
  color: #bec6cf;
}

.input::placeholder {
  font-family: Arial;
  color: #bec6cf;
}

.input-not-valid {
  border: 1px solid red;
}

.submit_btn {
  background: -webkit-gradient(linear,left bottom,left top,from(rgba(37,36,35,.18)),to(rgba(37,36,35,0)));
  background: -o-linear-gradient(bottom,rgba(37,36,35,.18) 0,rgba(37,36,35,0) 100%);
  background: linear-gradient(0deg,rgba(37,36,35,.18),rgba(37,36,35,0));
  background-color: #005abf;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  padding: 0.11rem 0.3rem;
  width: 1.33rem;
  font-family: Open Sans,sans-serif;
  color: #fff;
  font-size: 0.14rem;
  line-height: 0.18rem;
  text-align: center;
  outline: none;
}
@font-face {
  font-family: Open Sans;
  src: url(/opensans-bold.ttf);
}

body {
  background-color: #07090c;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.79rem auto 0.8rem;
  width: 10rem;
}

.payment {
  background-color: #f7f8f8;
  width: 6.39rem;
}

.payment .payment__info {
  margin: 0.47rem 0.29rem 0.31rem;
}

.payment .payment__card {
  position: relative;
  margin: 0 0.46rem 0.43rem 0.29rem;
}

.card-form {
  position: relative;
  height: 3.17rem;
  margin: 0;
  padding: 0;
}

.card-form__header {
  margin: 0 0 0.22rem -0.01rem;
}

.card-form__front {
  position: absolute;
  z-index: 2;
  left: 0;
  border-radius: 10px;
  border: 1px solid #e4e9ee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f8f8;
  width: 3.5rem;
  height: 2.36rem;
  text-align: left;
  padding: 0.22rem 0.15rem 0.14rem;
}

.card-form__front .card-number-wrapper {
  margin: 0.05rem 0 0.12rem;
}

.card-form__front .card-number-wrapper .input_card-number {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  width: 0.65rem;
  height: 0.42rem;
  display: inline-block;
  margin: 0 0.05rem 0 0;
}

.card-form__front .input_card-holder {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.11rem;
  width: 3.19rem;
}

.card-form__back {
  margin-top: 0.2rem;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 10px;
  border: 1px solid #e4e9ee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f8f8;
  width: 3.7rem;
  height: 2.36rem;
  text-align: right;
}

.card-form__back .back__line {
  background-color: #e4e9ee;
  width: 2.69rem;
  height: 0.42rem;
  float: right;
  margin: 0.26rem 0 0.17rem;
}

.card-form__back .back__label {
  float: right;
  position: relative;
  margin-right: 0.14rem;
  text-align: left;
}

.card-form__back .input_card-cvv {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  display: block;
  width: 1.38rem;
  height: 0.42rem;
}

.card-form__back .info-btn img {
  position: absolute;
  bottom: 0.07rem;
  right: 0.09rem;
}

.card-form__btn {
  margin: 0.05rem 0 0.03rem 0.15rem;
}

.card-form__select {
  margin: 0.05rem 0.09rem 0 0;
}
