.footer {
  background-color: #373c43;
  padding: 10px 45px 21px 29px;
  .footer__line {
    font-family: Arial;
    color: #89909d;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .footer__line:not(:first-of-type) {
    margin: -2px 0 12px;
  }
}