.fieldset {
  border: none;
}

.legend {
  font-family: 'Open Sans', sans-serif;
  color: #383d43;
  font-size: 1.374rem;
  line-height: 1.001;
}

.label {
  display: block;
  font-family: Arial;
  color: #8494ab;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313;
}

.input {
  border: 1px solid #e4e9ee;
  background-color: #fff;
  padding: 0.688rem 0.688rem 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313;
  color: #000;
}

.input::placeholder {
  font-family: Arial;
  color: #bec6cf;
}

.input-not-valid{
  border: 1px solid red;
}

.submit_btn {
  background: linear-gradient(0deg, rgba(37, 36, 35, 0.18) 0%, rgba(37, 36, 35, 0) 100%);
  background-color: #005abf;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  padding: 0.688rem 1.875rem;
  width: 8.313rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.286;
  text-align: center;
  outline: none;
}