.info {
  font-family: Arial;
  color: #8494ab;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313;
  .info__header {
    font-weight: 400;
    margin: 0 0 1.188rem;
  }
  .info__row {
    display: flex;
    margin-bottom: 0.375rem;
  }
  .info__name {
    display: block;
    width: 27.5%;
  }
  .info__value {
    display: block;
    color: #373c43;
    width: 70%;
  }

  @media screen and (max-width: 493px) {
    .info__name {
      width: 40%;
    }

    .info__value {
      width: 55%;
    }
  }
}

