@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold.ttf');
}

body {
  background-color: #07090c;
}

.container {
  display: flex;
  margin: 79px auto 80px;
  width: 1000px;
}

.payment {
  background-color: #f7f8f8;
  width: 639px;
  .payment__info {
    margin: 47px 29px 31px;
  }

  .payment__card {
    position: relative;
    margin: 0 46px 43px 29px;
  }
}

.card-form {
  position: relative;
  height: 317px;
  margin: 0;
  padding: 0;
}

.card-form__header {
  margin: 0 0 22px -1px;
}

.card-form__front {
  position: absolute;
  z-index: 2;
  left: 0;
  border-radius: 10px;
  border: 1px solid #e4e9ee;
  box-sizing: border-box;
  background-color: #f7f8f8;
  width: 350px;
  height: 236px;
  text-align: left;
  padding: 22px 15px 14px;
  .card-number-wrapper {
    margin: 5px 0 12px;
    .card-number {
     border: 1px solid #e4e9ee;
      box-sizing: border-box;
      background-color: #fff;
      width: 65px;
      height: 42px;
      display: inline-block;
      margin: 0 5px 0 0;
    }
  }
  .input_card-holder {
    box-sizing: border-box;
    margin-top: 11px;
    width: 319px;
  }
}

.card-form__back {
  margin-top: 20px;
  position: absolute;
  z-index: 1;
  right: 0;
  border-radius: 10px;
  border: 1px solid #e4e9ee;
  box-sizing: border-box;
  background-color: #f7f8f8;
  width: 370px;
  height: 236px;
  text-align: right;
  .back__line {
    background-color: #e4e9ee;
    width: 269px;
    height: 42px;
    float: right;
    margin: 26px 0 17px;
  }
  .back__label {
    float: right;
    position: relative;
    margin-right: 14px;
    text-align: left;
  }
  .input_card-cvv {
    border: 1px solid #e4e9ee;
    box-sizing: border-box;
    background-color: #fff;
    display: block;
    width: 138px;
    height: 42px;
  }
  .info-btn img {
    position: absolute;
    bottom: 7px;
    right: 9px;
  }
}

.card-form__btn {
  margin: 5px 0 3px 15px;
}

.card-form__select {
  margin: 5px 9px 0 0;

}