$width: 360px;
$bg-color-primary: #1f2229;
$bg-color-secondary: #191c24;
$bg-color-active: #2a2d37;
$color-primary: #fff;
$color-active: #808592;
$font-primary: 'Open Sans', sans-serif;

.nav-menu {
  width: $width;
  .nav-menu__list {
    position: relative;
    margin: 0;
  }
  .nav-menu__item {
    background-color: $bg-color-primary;
    list-style-type: none;
    padding: 29px;
    &:hover,
    &:active,
    &:focus,
    .nav-menu__item_active {
      background-color: $bg-color-active;
      a {
        color: $color-active;
      }
    }
    a {
      font-family: $font-primary;
      color: #fff;
      display: block;
      font-size: 18px;
      line-height: 24px;
      text-align: justify;
      text-decoration: none;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
      &:hover,
      &:active,
      &:focus {
        color: $color-active;
      }
    }
  }

  .nav-menu__item a:focus:after,
  .nav-menu__item_active a:after {
    position: absolute;
    color: $color-active;
    content: "(активная)";
    margin-left: 5px;
  }

  .nav-menu__item:last-of-type,
  .nav-menu__item:nth-of-type(4) {
    background-color: $bg-color-secondary;
  }

  .nav-menu__item:last-of-type a {
    color: $color-active;
  }
}